{% extends 'base.html.twig' %}
{% block title %}Error{% endblock %}
{% block nav %}{% endblock %}
{% block menu %}{% endblock %}
{% block principal %}
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        usuario inactivo
    </div>
{% endblock %}
