{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}


{% block nav %} {% endblock %}

{% block menu %}  {% endblock %}

{% block principal %}
    {{ encore_entry_link_tags('login') }}


    {% if app.user %}
        <a class="btn btn-success col-auto p-5" href="{{ path('app_logout') }}"><i
                    class="fa fa-user-circle fa-3x"></i><h4>Logout</h4>
            <p>You are logged in as </p>
            <p>{{ app.user.username }}</p>
        </a>
    {% else %}

        <section class="login-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 login-sec">
                        <h2 class="text-center">MANTENIMIENTO DE INFRAESTRUCTURA</h2>
                        <hr>
                        <form class="login-form" method="post">

                            <div class="form-group">
                                <label for="exampleInputPassword1" class="text-uppercase">TIPO DE DOCUMENTO</label>
                                <select name="tipo_documento" id="tipo_documento" class="form-control">
                                    <option value="">SELECCIONE UNA OPCIÓN</option>
                                    <option value="CC">Cédula de ciudadanía</option>
                                    <option value="TI">Tarjeta de identidad</option>
                                    <option value="CE">Cédula de extranjería</option>
                                    <option value="CR">Contraseña registraduría</option>
                                    <option value="PC">Pasaporte Colombiano</option>
                                    <option value="PE">Pasaporte extranjero</option>
                                </select>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <div class="form-group">
                                <label for="inputUsername" class="text-uppercase">NÚMERO DE DOCUMENTO</label>
                                <input type="text" value="{{ last_username }}" name="username"
                                       id="inputUsername"
                                       class="form-control  " placeholder="Usuario"
                                       autocomplete="username" required autofocus>

                            </div>
                            <hr>


                            <div>
                                <button type="submit" class=" col-md-4 btn btn-login float-right">Ingresar</button>
                                <a href="{{ path('app_registrar') }}" class="col-md-6 btn btn-login">Registrese aquí</a>
                            </div>

                        </form>

                    </div>
                    <div class="col-md-8 banner-sec">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid"
                                         src="{{ asset('img/fondo_app.jpg') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        {% if error %}
            <hr>
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

        {% endif %}

    {% endif %}





{% endblock %}


