{% extends 'base.html.twig' %}
{% block nav %}

{% endblock %}
{% block menu %}

{% endblock %}
{% block principal %}
    <section>
        <div class="row">
            <div class="col-12">
                {{ include('security/form/_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}