{% extends 'base.html.twig' %}
 {% block content %}
<section class="container-fluid container-fluid-zebra py-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
{#                <a href="{{ path('admin_application_new',{'uuid':client.uuid}) }}" class="btn btn-primary float-end mb-2"#}
{#                   type="button">{{ 'btn.add_application'|trans }}</a>#}
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th{% if pagination.isSorted('o.numero_orden') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'label.name'|trans, 'o.numero_orden') }}
                        </th>
                        <th>{{ knp_pagination_sortable(pagination, 'label.actions'|trans, 'o.numero_orden') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {# table body #}
                    {% for colum in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ colum.numero_orden }}</td>

                            <td style="width:10em">
                                <select name="" id="" class="w-100 form-control"
                                        onchange="location = this.value;">
{#                                    <option value="">{{ 'label.select'|trans }}</option>#}
{#                                    <option value="{{ path('admin_application_edit',{'uuid':colum.uuid}) }}">{{ 'btn.update'|trans }}</option>#}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</section>
 {% endblock %}