<div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body p-0" style="background: #FFEFE9">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <a class="text-black nav-link px-3 sidebar-link " data-bs-toggle="collapse"
                       href="#"
                       role="button" aria-expanded="false" aria-controls="collapseNotificación">
                        <span class="me-2"><a href="{{ path('notificacion_eventos') }}" class=" btn btn-secondary">NOTIFICACIÓN DE EVENTOS</a></span>
                    </a>
                </li>

                <li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANTENIMIENTO')%}
                    <a class="text-black nav-link px-3 sidebar-link " data-bs-toggle="collapse"
                       href="#collapseModulos"
                       role="button" aria-expanded="false" aria-controls="collapseModulos">
                        <span class="me-2">MODULOS</span>
                        <span class="right-icon ms-auto"> <i class="fa fa-caret-down text-black "></i></span>
                    </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN')%}
                    <div class="collapse" id="collapseModulos">
                        <ul class="navbar-nav">
                            <li class="ps-3">
                                <a class="text-black nav-link px-3 sidebar-link " data-bs-toggle="collapse"
                                   href="#collapseUsuarios"
                                   role="button" aria-expanded="false" aria-controls="collapseUsuarios">
                                    <span class="me-2"><a href="{{ path('modulo_usuarios_lista_usuarios') }}" class=" btn btn-secondary">MODULO DE USUARIOS</a></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANTENIMIENTO')%}
                    <div class="collapse" id="collapseModulos">
                        <ul class="navbar-nav">
                            <li class="ps-3">
                                <a class="text-black nav-link px-3 sidebar-link " data-bs-toggle="collapse"
                                   href="#collapseEventos"
                                   role="button" aria-expanded="false" aria-controls="collapseEventos">
                                    <span class="me-2"><a href="{{ path('modulo_eventos_lista_eventos') }}" class=" btn btn-secondary">MODULO DE EVENTOS</a></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>

