<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        {# offcanvas trigger #}

        <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# offcanvas trigger #}


            <a class="navbar-brand fw-bold text-uppercase me-auto" href="{{ path('dash_board_index') }}">
                <img src="{{ asset('img/Sena.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                Mantenimiento Infraestructura
            </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" data-bs-target="#offcavasExample"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                <blockquote class="blockquote mb-0">
                    <p style="font-size: 12px" class="text-capitalize fw-bold">{{ userlog.nombre}}</p>
                </blockquote>
            </div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('usuario_editar',{'id':userlog.id})}}">Editar
                                perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>