{% extends 'base.html.twig' %}
 {% block content %}
  <div class="row row-cols-bg-4 row-cols-md-4 g-4" style="background: #FFF7F4">
   <div class="col">
    <div class="card h-100">
     <img src="{{ asset('img/sirena.jpg') }}" class="card-img-top">
     <div class="card-body">
      <h5 class="card-title"><a href="{{ path('notificacion_eventos') }}">NOTIFICACIÓN DE EVENTOS</a></h5>
      <p class="card-text">Notifique los eventos inseguros que encuentre en el CIDT.</p>
     </div>
    </div>
   </div>
   {% if is_granted('ROLE_ADMIN')%}

    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Usuarios.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title"><a href="{{ path('modulo_usuarios_lista_usuarios') }}">MODULO DE USUARIOS</a></h5>
       <p class="card-text">Gestione todos los usuarios del sistema.</p>
      </div>
     </div>
    </div>
   {% endif %}

  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANTENIMIENTO')%}
    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Formulario.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title"><a href="{{ path('modulo_eventos_lista_eventos') }}">MODULO DE EVENTOS</a></h5>
       <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
     </div>
    </div>
  {% endif %}

  {% if is_granted('ROLE_ADMIN')%}
    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Formulario.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
     </div>
    </div>

    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Formulario.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
     </div>
    </div>

    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Formulario.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
     </div>
    </div>

    <div class="col">
     <div class="card h-100">
      <img src="{{ asset('img/Formulario.png') }}" class="card-img-top">
      <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
     </div>
    </div>
  {% endif %}



 {% endblock %}