<section>
    <div class="container py-5">
        <div class="row justify-content-center ">
            <div class="col-xl-10">
                <div class="card" style="border-radius: 2rem;">
                    <div class="row g-0">
                        <div class="card-body p-lg-5 text-black">

                            <div style="text-align: center;">
                                <h2>EDITAR USUARIO</h2>
                            </div>
                            <hr>

                            {{ form_start(  form,{attr:{'novalidate':true}}  ) }}

                            <div class="row g-4">
                                <div class="col-sm-6">
                                    <div class="form-label">{{ form_label(form.nombre, 'Nombres') }}</div>
                                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.nombre ) }}
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-label">{{ form_label(form.apellido, 'Apellidos') }}</div>
                                    {{ form_widget(form.apellido, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.apellido ) }}
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-label">{{ form_label(form.tipo_documento, 'Tipo de documento') }}</div>
                                    {{ form_widget(form.tipo_documento, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.tipo_documento ) }}
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-label">{{ form_label(form.rol, 'Tipo de usuario') }}</div>
                                    {{ form_widget(form.rol, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.rol ) }}
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-label">{{ form_label(form.telefono, 'Telefono') }}</div>
                                    {{ form_widget(form.telefono, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.telefono ) }}
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-label">{{ form_label(form.correo, 'Correo') }}</div>
                                    {{ form_widget(form.correo, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.correo ) }}
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-label">{{ form_label(form.cargo, 'Cargo') }}</div>
                                    {{ form_widget(form.cargo, {'attr': {'class': 'form-control input-form-control'}}) }}
                                    {{ form_errors(form.cargo ) }}
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-danger mt-4 ms-2" type="button" id="btnCancel"
                                        name="btnCancel"
                                        onclick="window.location.href = '{{ path('modulo_usuarios_lista_usuarios') }}'">
                                    Cancelar
                                </button>
                                <button type="submit"
                                        class="btn btn-primary mt-4 ms-2" name="btnSave" id="btn-save">Editar
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
