{% extends 'base.html.twig' %}
 {% block content %}
  <section>
   <div class="row">
    <div class="col-12">
     {{ include('panel/usuario/form/_form_editar_usuario.html.twig') }}
    </div>
   </div>
  </section>


 {% endblock %}
