{% block form_content %}
    {{ form_start(  formRegistrar,{attr:{'novalidate':true}}  ) }}
    {{ encore_entry_link_tags('login') }}

    <section class="login-block">
        <div class="container col-md-4">
            <div class="row col-auto">
                <div class="col-md-10 login-sec">
                    <h2 class="text-center">Registrar</h2>
                    {% for flash_message in app.session.flashbag.get('fallo') %}
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.username, 'Número de documento') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.username, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.username ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.tipodocumento, 'Tipo de documento') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.tipodocumento, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.tipodocumento ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.nombre, 'Nombre') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.nombre, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.nombre ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.apellido, 'Apellido') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.apellido, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.apellido ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.telefono, 'Telefono') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.telefono, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.telefono ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.correo, 'Correo') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.correo, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.correo ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            {{ form_label(formRegistrar.cargo, 'Cargo') }}
                            <span class="required">*</span>
                        </div>
                        <div>
                            {{ form_widget(formRegistrar.cargo, {'attr': {'class': 'form-control input-form-control'}}) }}
                            {{ form_errors(formRegistrar.cargo ) }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <a class="col-md-4 btn btn-login float-right" href="{{ path('app_login') }}">Cancelar</a>
                            <button type="submit"
                                    class="col-md-4 btn btn-login float-right" name="btnSave" id="btn-save">Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(formRegistrar) }}
{% endblock %}