<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('stylePanel') }}
    {% endblock %}
    {% block encore_entry %}
        {{ encore_entry_script_tags('filter-select') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block nav %}
{{ include('base/_nav_bar.html.twig') }}
{% endblock %}
{% block menu %}
{{ include('base/_menu.html.twig') }}
{% endblock %}
{% block principal %}
<main class="pt-5 mt-2">
    {% block content %}
    {% endblock %}
</main>
{% endblock %}
</body>
</html>
