{% block content %}

    <table class="table table-bordered table-responsive table-striped" style="font-size: 15px;height: 10%">
        <thead style="">
        <tr>
            <th colspan="5">{{ knp_pagination_filter(pagination, {'u.username': 'Cedula'}) }}</th>
        </tr>
        <tr>
            <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Número de documento', 'u.username') }}
            </th>
            <th{% if pagination.isSorted('u.nombre') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Nombre','u.nombre') }}
            </th>
            <th{% if pagination.isSorted('u.apellido') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Apellido','u.apellido') }}
            </th>
            <th{% if pagination.isSorted('u.tipo_documento') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Tipo Documento','u.tipo_documento') }}
            </th>
            <th{% if pagination.isSorted('u.telefono') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Telefono','u.telefono') }}
            </th>
            <th{% if pagination.isSorted('u.correo') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Correo electronico','u.correo') }}
            </th>
            <th{% if pagination.isSorted('u.cargo') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Cargo','c.nombre') }}
            </th>
            <th colspan="1">
                Eliminar
            </th>
            <th colspan="2">
                Editar
            </th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %} >
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.tipodocumento }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.cargo.nombre }}</td>
                <td style="width: 10px"><a href="{{ path('modulo_usuarios_eliminar',{'username':usuario.username}) }}"><i
                                class="fa fa-trash text-danger"></i></a></td>
                <td style="width: 10px"><a href="{{ path('modulo_usuarios_editar',{'username':usuario.username}) }}"><i class="fa fa-user-edit"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"> {{ knp_pagination_render(pagination) }}</td>
            <td style="font-size: 15px">Total Registros <span
                        class="badge bg-secondary">{{ pagination.getTotalItemCount }}</span></td>
        </tr>

        </tfoot>
    </table>


{% endblock %}