{% block content %}

    <table class="table table-bordered table-responsive table-striped" style="font-size: 15px;height: 10%">
        <thead style="">
        <tr>
            <th colspan="5">{{ knp_pagination_filter(pagination, {'u.username': 'Cedula'}) }}</th>
        </tr>
        <tr>
            <th{% if pagination.isSorted('e.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'id', 'e.id') }}
            </th>
            <th{% if pagination.isSorted('e.detalle') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'detalle','e.detalle') }}
            </th>
            <th{% if pagination.isSorted('e.fecha') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Fecha','e.fecha') }}
            </th>
            <th{% if pagination.isSorted('u.nombre') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Nombre','u.nombre') }}
            </th>
            <th{% if pagination.isSorted('') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Imagen','') }}
            </th>
            <th colspan="1">
                Eliminar
            </th>
            <th colspan="2">
                Crear orden
            </th>
        </tr>
        </thead>
        <tbody>
        {% for eventos in pagination %}

            <tr {% if loop.index is odd %}class="color"{% endif %} >
                <td>{{ eventos.id }}</td>
                <td>{{ eventos.detalle }}</td>
                <td>{{ eventos.fecha|date('Y-m-d H:i:s') }}</td>
                <td>{{ eventos.user.nombre }}</td>
                <td><img src="{{ asset('images/products/') }}{{ eventos.image }}"
                         class="img-thumbnail rounded mx-auto d-block" style="width: 200px; height: 200px" alt=""></td>
                <td style="width: 10px"><a href="{{ path('modulo_eventos_eliminar',{'id':eventos.id}) }}"><i
                                class="fa fa-trash text-danger"></i></a></td>
                <td style="width: 10px"><a href="{{ path('ordenes_trabajo_crear',{'id':eventos.id}) }}"><i
                                class="fa fa-hammer"></i></a></td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"> {{ knp_pagination_render(pagination) }}</td>
            <td style="font-size: 15px">Total Registros <span
                        class="badge bg-secondary">{{ pagination.getTotalItemCount }}</span></td>
        </tr>

        </tfoot>
    </table>



{% endblock %}