{{ form_start(  form,{attr:{'novalidate':true}}  ) }}

<div class="row g-4">
    <div class="col-sm-4">
        <div class="form-label">Detalle</div>
        <div class="form-control"> {{ eventos.detalle }}</div>
    </div>

    <div class="col-sm-4">
        <div class="form-label">Fecha</div>
        <div class="form-control"> {{ eventos.fecha|date('Y-m-d H:i:s') }}</div>
    </div>

    <div class="col-sm-4">
        <div class="form-label">Nombre del Reportante</div>
        <div class="form-control"> {{ eventos.user.nombre }}</div>
    </div>


    <div class="col-sm-4">
        <div class="form-label">Imagen</div>
        <div class="form-control"><img src="{{ asset('images/products/') }}{{ eventos.image }}" class="img-thumbnail rounded mx-auto d-block" style="width: 200px; height: 200px" alt=""></div>
    </div>

    <div class="col-sm-4">
        <div class="form-label">{{ form_label(form.user, 'Persona encargada') }}</div>
        {{ form_widget(form.user, {'attr': {'class': 'form-control input-form-control'}}) }}
        {{ form_errors(form.user ) }}
    </div>

    <div class="col-md-4" style="margin-top: 17px;">
        <label class="form-label">{{ form_label(form.start_at, 'Fecha de inicio') }}
            {{ form_widget(form.start_at, {'attr': {'class': 'form-control input-form-control'}}) }}
            {{ form_errors(form.start_at ) }}
    </div>

    <div class="col-md-4" style="margin-top: 17px;">
        <label class="form-label">{{ form_label(form.end_at, 'Fecha final') }}
            {{ form_widget(form.end_at, {'attr': {'class': 'form-control input-form-control'}}) }}
            {{ form_errors(form.end_at ) }}
    </div>
</div>





{#<div class="row g-4">#}
{#    <div class="col-sm-6">#}
{#        <div class="form-label">{{ form_label(form.nombre, 'Nombres') }}</div>#}
{#        {{ form_widget(form.nombre, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.nombre ) }}#}
{#    </div>#}



{#    <div class="col-sm-6">#}
{#        <div class="form-label">{{ form_label(form.apellido, 'Apellidos') }}</div>#}
{#        {{ form_widget(form.apellido, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.apellido ) }}#}
{#    </div>#}

{#    <div class="col-sm-4">#}
{#        <div class="form-label">{{ form_label(form.tipo_documento, 'Tipo de documento') }}</div>#}
{#        {{ form_widget(form.tipo_documento, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.tipo_documento ) }}#}
{#    </div>#}



{#    <div class="col-sm-4">#}
{#        <div class="form-label">{{ form_label(form.telefono, 'Telefono') }}</div>#}
{#        {{ form_widget(form.telefono, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.telefono ) }}#}
{#    </div>#}

{#    <div class="col-sm-4">#}
{#        <div class="form-label">{{ form_label(form.correo, 'Correo') }}</div>#}
{#        {{ form_widget(form.correo, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.correo ) }}#}
{#    </div>#}

{#    <div class="col-sm-4">#}
{#        <div class="form-label">{{ form_label(form.cargo, 'Cargo') }}</div>#}
{#        {{ form_widget(form.cargo, {'attr': {'class': 'form-control input-form-control'}}) }}#}
{#        {{ form_errors(form.cargo ) }}#}
{#    </div>#}
{#</div>#}
{#<div>#}
{#    <button class="btn btn-danger mt-4 ms-2" type="button" id="btnCancel"#}
{#            name="btnCancel"#}
{#            onclick="window.location.href = '{{ path('modulo_usuarios_lista_usuarios') }}'">#}
{#        Cancelar#}
{#    </button>#}
{#    <button type="submit"#}
{#            class="btn btn-primary mt-4 ms-2" name="btnSave" id="btn-save">Editar#}
{#    </button>#}
{#</div>#}
{{ form_end(form) }}