{% extends 'base.html.twig' %}
 {% block content %}
     <section>
         <div class="container py-5">
             <div class="row justify-content-center ">
                 <div class="col-xl-10">
                     <div class="card" style="border-radius: 2rem;">
                         <div class="row g-0">
                             <div class="card-body p-lg-5 text-black">

                                 <div style="text-align: center;">
                                     <h2 class="text-uppercase">crear orden</h2>
                                 </div>
                                 <hr>
                                 {{ include('panel/ordenes_trabajo/Form/_form.html.twig') }}
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
 {% endblock %}