{% extends 'base.html.twig' %}
 {% block content %}

       <section>
        <div class="container py-5">
         <div class="row justify-content-center ">
          <div class="col-xl-10">
           <div class="card" style="border-radius: 2rem;">
            <div class="row g-0">
             <div class="card-body p-lg-5 text-black">

              <div style="text-align: center;">
               <h2>NOTIFICACIÓN DE EVENTOS</h2>
              </div>
              <hr>

        {{ form_start(  form,{attr:{'novalidate':true}}  ) }}

              <div class="row g-4">
               <div class="col-sm-4">
                <div class="form-label">Nombres</div>
                <div class="form-control"> {{ userlog.nombre }}</div>
               </div>

               <div class="col-sm-4">
                <div class="form-label">Apellidos</div>
                <div class="form-control">{{ userlog.apellido }}</div>
               </div>

               <div class="col-sm-4">
                <div class="form-label">Tipo de documento</div>
                 <div class="form-select">
                  <option>{{ userlog.tipodocumento }}</option>
                 </div >
               </div>

               <div class="col-sm-4">
                <div class="form-label">Número de documento</div>
                <div class="form-control">{{ userlog.username }}</div>
               </div>

               <div class="col-md-4">
                <div class="form-label">Tipo de usuario</div>
                <div  class="form-select">
                 <option>{{ userlog.cargo.nombre }}</option>
                </div >
               </div>


               <div class="col-md-4" style="margin-top: 17px;">
                <label class="form-label">{{ form_label(form.fecha, 'Fecha de la novedad') }}
                {{ form_widget(form.fecha, {'attr': {'class': 'form-control input-form-control'}}) }}
                {{ form_errors(form.fecha ) }}
               </div>

               <div class="col-md-6">
                <div class="form-floating">
                 {{ form_widget(form.detalle, {'attr': {'class': 'form-control input-form-control'}}) }}
                 {{ form_errors(form.detalle ) }}
                 <label></label>{{ form_label(form.detalle, 'Detalle') }}
                </div>
               </div>

               <div class="col-md-6">
                <label class="form-label"></label>{{ form_label(form.image, 'Evidencia') }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control input-form-control'}}) }}
                {{ form_errors(form.image ) }}
               </div>

{#               {{ form_row(form.tiponovedades) }}#}

               <div>
                <button class="btn btn-danger mt-4 ms-2" type="button" id="btnCancel"
                        name="btnCancel"
                        onclick="window.location.href = '{{ path('dash_board_index') }}'">
                 Cancelar
                </button>
                <button type="submit"
                        class="btn btn-primary mt-4 ms-2" name="btnSave" id="btn-save">Enviar
                </button>
               </div>
        {{ form_end(form) }}



{#               <div class="col-md-4">#}
{#                <label for="cordenada" >#}
{#                 <span id="cordenada_label">Selecione un valor</span>#}
{#                </label>#}
{#                <br>#}
{#                <input type="hidden" value="0" id="cordenada">#}
{#                <!-- Button trigger modal -->#}
{#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
{#                 Launch demo modal#}
{#                </button>#}

{#               </div>#}

{#              </div>#}



{#              <div class="modal fade" id="modalBloque1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#               <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                 <div class="modal-header">#}
{#                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                 </div>#}
{#                 <div class="modal-body">#}
{#                  <form id="formBloque1" class="form-grop">#}

{#                   <div class="form-item">#}
{#                    <label for="pisos"></label>#}
{#                    <select class="form-select"  name="modalBloque1-bloque" id="modalBloque1-bloque">#}
{#                     <option value="1">Piso 1</option>#}
{#                     <option value="2">Piso 2</option>#}
{#                    </select>#}
{#                   </div>#}
{#                   <div class="form-item">#}
{#                    <label for="modalBloque1-pisos"></label>#}
{#                    <select  class="form-select" name="modalBloque1-pisos" id="modalBloque1-pisos">#}

{#                    </select>#}
{#                   </div>#}
{#                   <div class="form-item">#}
{#                    <button type="submit">Enviar</button>#}
{#                   </div>#}

{#                  </form>#}
{#                 </div>#}
{#                 <div class="modal-footer">#}
{#                  <h3 id="respuesta">lgo</h3>#}
{#                 </div>#}
{#                </div>#}
{#               </div>#}
{#              </div>#}




     {#  <!-- Modal --> #}
     {#  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> #}
     {#   <div class="modal-dialog"> #}
     {#    <div class="modal-content"> #}
     {#     <div class="modal-header"> #}
     {#      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> #}
     {#      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
     {#     </div> #}
     {#     <div class="modal-body"> #}
     {#      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
     {#      <img src="{{ asset('img/mapa.jpg') }}" alt="mapa" usemap="#mapa"> #}
     {#      <map name="mapa"> #}
     {#       <area id="bloque1" shape="rect" coords="50,570,470,610" href="#" alt="Bloque 1"> #}
     {#       <area id="bloque2" shape="rect" coords="50,420,330,520" href="#" alt="Bloque 2"> #}
     {#       <area id="bloque3" shape="rect" coords="480,170,600,540" href="#" alt="Bloque 3"> #}
     {#       <area id="bloque4" shape="rect" coords="610,170,730,540" href="#" alt="Bloque 4"> #}
     {#       <area id="bloque5" shape="rect" coords="780,370,820,610" href="#" alt="Bloque 5"> #}
     {#       <area id="bloque6" shape="rect" coords="770,170,820,360" href="#" alt="Bloque 6"> #}
     {#       <area id="bloque7" shape="rect" coords="420,160,515,60" href="#" alt="Bloque 7"> #}
     {#      </map> #}
     {#     </div> #}
     {#     <div class="modal-footer"> #}
     {#      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
     {#      <button type="button" class="btn btn-primary">Save changes</button> #}
     {#     </div> #}
     {#    </div> #}
     {#   </div> #}
     {#  </div> #}


     {# #}
     {# #}
     {# #}
     {# #}

 {% endblock %}